@import 'bourbon/bourbon';
@import 'neat/neat';


// VARIABLES //
$imgWidth: 100%;

// DEFAULT STYLES //
p, ul, li, h1, body {
  margin: 0;
  padding: 0;
}

body {
  font-famly: Arial;
}

ul {
  list-style: none;
}

img {
  max-width: $imgWidth;
}

.container {
  background-image: url("../images/bg-body-top.jpg"), url("../images/bg-body-bottom.jpg");
  background-position: center top, center bottom;
}
// HEADER STYLES //
.main-header {
  text-align: center;

  .logo {

  }
  .nav {

    li {
      display: inline-block;
    }
  }
  .wide-nav {
    background-color: #ee0186;
      li {
        display: inline-block;
      }
  }
}

.main-content {

  .secondary-content {

    background-color: steelblue;
  }
  .primary-content {

    background-color: tomato;
    .grid-picture {
      // 6 worked, 4 so, why?
      background-color: purple;
    }
  }
}

.main-info {

  div {
  }
}

.main-footer {

}

