@import 'bourbon/bourbon';
@import 'neat/neat';


// VARIABLES //
$imgWidth: 100%;

// DEFAULT STYLES //
p, ul, li, h1, body {
  margin: 0;
  padding: 0;
}

body {
  font-famly: Arial;
}

ul {
  list-style: none;
}

img {
  max-width: $imgWidth;
}

// HEADER STYLES //
.main-header {
  text-align: center;
  background-color: red;
  .logo {
    background-color: blue;
  }
  .nav {
    background-color: rgba(247, 209, 226, .5);
    li {
      display: inline-block
    }
  }
  .wide-nav {
    background-color: #ee0186;
  }
}

.main-content {

  .secondary-content {

    background-color: steelblue;
  }
  .primary-content {

    background-color: tomato;
    .grid-picture {
      // 6 worked, 4 so, why?
      background-color: purple;
    }
  }
}

.main-info {
  background-color: orange;
  div {
  }
}

.main-footer {
  background-color: steelblue;
}

